@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slick-dots li button:before {
  font-size: 0;
}

.slick-dots li div {
  background-image: url('/assets/bola-amarela.png');
  width: 30px;
  height: 30px;
  margin-top: 16px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.slick-dots li.slick-active div {
  background-image: url('/assets/bola-vermelha.png') !important;
}

.slick-dots li {
  margin: 0 12px !important;
}

@media (min-width: 1440px) {
  .slick-dots li div {
    width: 40px;
    height: 40px; 
  }
}

@media (min-width: 1900px) {
  .slick-dots li div {
    width: 50px;
    height: 50px; 
  }
}
